/* Titillium font license can be found at http://www.fontsquirrel.com/license/TitilliumText */
@font-face {
    font-family: 'TitilliumThin';
    src: url('../../fonts/TitilliumText/TitilliumText22L001-webfont/index.eot');
    src: url('../../fonts/TitilliumText/TitilliumText22L001-webfont/index-2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TitilliumText/TitilliumText22L001-webfont/index.woff') format('woff'),
         url('../../fonts/TitilliumText/TitilliumText22L001-webfont/index.ttf') format('truetype'),
         url('../../fonts/TitilliumText/TitilliumText22L001-webfont/index.svg#TitilliumText22LThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumLight';
    src: url('../../fonts/TitilliumText/TitilliumText22L002-webfont/index.eot');
    src: url('../../fonts/TitilliumText/TitilliumText22L002-webfont/index-2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TitilliumText/TitilliumText22L002-webfont/index.woff') format('woff'),
         url('../../fonts/TitilliumText/TitilliumText22L002-webfont/index.ttf') format('truetype'),
         url('../../fonts/TitilliumText/TitilliumText22L002-webfont/index.svg#TitilliumText22LLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Titillium';
    src: url('../../fonts/TitilliumText/TitilliumText22L003-webfont/index.eot');
    src: url('../../fonts/TitilliumText/TitilliumText22L003-webfont/index-2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TitilliumText/TitilliumText22L003-webfont/index.woff') format('woff'),
         url('../../fonts/TitilliumText/TitilliumText22L003-webfont/index.ttf') format('truetype'),
         url('../../fonts/TitilliumText/TitilliumText22L003-webfont/index.svg#TitilliumText22LRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumMedium';
    src: url('../../fonts/TitilliumText/TitilliumText22L004-webfont/index.eot');
    src: url('../../fonts/TitilliumText/TitilliumText22L004-webfont/index-2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TitilliumText/TitilliumText22L004-webfont/index.woff') format('woff'),
         url('../../fonts/TitilliumText/TitilliumText22L004-webfont/index.ttf') format('truetype'),
         url('../../fonts/TitilliumText/TitilliumText22L004-webfont/index.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumBold';
    src: url('../../fonts/TitilliumText/TitilliumText22L005-webfont/index.eot');
    src: url('../../fonts/TitilliumText/TitilliumText22L005-webfont/index-2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TitilliumText/TitilliumText22L005-webfont/index.woff') format('woff'),
         url('../../fonts/TitilliumText/TitilliumText22L005-webfont/index.ttf') format('truetype'),
         url('../../fonts/TitilliumText/TitilliumText22L005-webfont/index.svg#TitilliumText22LBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TitilliumXBold';
    src: url('../../fonts/TitilliumText/TitilliumText22L006-webfont/index.eot');
    src: url('../../fonts/TitilliumText/TitilliumText22L006-webfont/index-2.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/TitilliumText/TitilliumText22L006-webfont/index.woff') format('woff'),
         url('../../fonts/TitilliumText/TitilliumText22L006-webfont/index.ttf') format('truetype'),
         url('../../fonts/TitilliumText/TitilliumText22L006-webfont/index.svg#TitilliumText22LXBold') format('svg');
    font-weight: normal;
    font-style: normal;
}


a { color: #C94D37; text-decoration: none; }
a:hover { text-decoration: underline; }
body { background-color: #fff; font-family: Helvetica; font-size: 13px; }
h1 { line-height: 41px; font-size: 41px; }
h2 { font-family: 'TitilliumMedium'; font-size: 25px; margin-bottom: 15px; }
p { margin-bottom: 15px; line-height: 19px; }
table { width: 100%; }
ol { list-style: decimal outside; }
ul { list-style: disc outside; }
ol, ul { margin-left: 30px; margin-bottom: 15px; }

.alignRight { text-align: right; }
.center { text-align: center; }
.floatLeft { float: left; }
.floatRight { float: right; }
.hidden { display: none; }
.mobileOnly { display: none; }

.clearfix:after, div.sharethis-buttons:before {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

div.sharethis-wrapper {
  padding-top: 10px;
}

#topBar {
	background: url(../../images/header_top/index.png) repeat-x;
	height:7px;
	margin-bottom: 10px;
}


/*********** HEADER, LOGO, TOP-RIGHT LINKS *****************/
#header {
	margin-bottom: 22px;
}
#logo {
  margin-top: -40px;
}

#topLinks { 
	color: #54493e; 
	font-size: 11pt; 
	text-align: right; 
	margin-top: 3px; 
	font-size: 8pt;
	height: 45px;
}
#topLinks a {
	color: #54493e;
	text-decoration: none;
	font-size: 8pt;
}
#topLinks a:hover { text-decoration: underline; }
#topLinks p { margin-bottom: 0px; }
#topLinks div.block { float: right; }
#topLinks div.block.block-gtranslate { margin-right: 15px; }


/************** NAVIGATION BAR **************/
#navigationBar {
	border: 1px solid #a33e16;
	border-radius: 7px;
	margin-bottom: 17px;
	background: url(../../images/main_nav_bg/index.png);
}
#navigationBar ul {
	position: relative;
	top: -1px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#navigationBar ul li { padding: 0px; display: inline; display: inline-block; }
#navigationBar a {
	padding: 14px 20px 10px;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-family: 'TitilliumMedium';
}
#navigationBar a:hover, #navigationBar li.active-trail a { 
	background-color: #ab300a; 
}
#navigationBar a.active {
	background-color: #8b290a;
}
#navigationBar li.first a {
	border-bottom-left-radius: 7px;
	border-top-left-radius: 7px;
}
#navigationBar ul li.divider div {
	padding: 14px 0px 10px;
	width: 2px;
	background: url(../../images/main_nav_divider/index.png) no-repeat;
}
#main-menu-mobile {
	padding: 7px;
}
#main-menu-mobile select {
	font-size: 18px;
}

#breadcrumb {
	margin-bottom: 15px;
}

/**************** SEARCH FORM ****************/
div.region.region-search {
	float: right;
	padding-top: 5px;
	padding-right: 8px;
}
#block-search-form .contextual-links-wrapper {
	display: none;
}
#block-search-form form > div > div.container-inline { 
	position: relative; 
}
#block-search-form div.form-actions.form-wrapper input {
	position: absolute;
	right: 5px;
	top: 6px;
	text-indent: -9999px;
	background: url(../../images/search_button/index.png) no-repeat;
	border: none;
	height: 16px;
	width: 16px;
	cursor: pointer;
}
#block-search-form input.form-text {
	border: 1px solid #333;
	border-radius: 5px;
	padding: 5px 20px 5px 5px;
	width: 150px;
}



/************ SIDE BAR NAVIGATION ************/
#leftSidebar {
	margin-bottom: 30px;
}
#leftSidebar h2 {
	background: url(../../images/header_bg/index.png);
	padding: 8px 12px 3px 20px;
	text-transform: uppercase;
	font-family: 'TitilliumBold';
	font-size: 23px;
	letter-spacing: 0px;
	font-weight: normal;
	margin-bottom: 10px;
}
#leftSidebar ul.menu, #leftSidebar ul.menu li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
	margin-bottom: 0px;
}
#leftSidebar ul.menu {
	padding-left: 20px;
}
#leftSidebar ul.menu li {
	background: url(../../images/menu_bullet/index.png) no-repeat left 9px;
	padding-left: 12px;
}

#leftSidebar ul.menu li a {
	color: #7f7f7f;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	line-height: 20px;
	display: block;
}

#leftSidebar ul.menu li a:hover {
	color: #C94D37;
}

#leftSidebar ul.menu li.active-trail a.active {
	color: black;
}

#leftSidebar ul.menu ul {
	padding-left: 0px;
}
#leftSidebar ul.menu li ul li {
	padding-top: 3px;
}

/************* CONTENT AREA ******************/
#content {
	margin-bottom: 40px;
}
h1.title {
	color: #C94D37;
	font-family: 'TitilliumMedium';
	font-size: 41px;
	letter-spacing: -2px;
	font-weight: normal;
	margin: 0 0 15px 0;
}
#content div.content img {
	border: 5px solid #e0e0e0;
	margin: 0 20px 0 0;
/*	float: left; */
}
#content div.content img.file-icon {
	margin: 0px;
	border: none;
}
#content div.node {
	margin-bottom: 20px;
}
#content div.node h2 { margin-bottom: 15px; }
div.submitted { padding: 3px 0px; color: #684f40; font-size: 17px; margin-bottom: 15px; font-family: 'TitilliumMedium'; }
div.submitted a { color: #684f40; }
div.submitted a:hover { color: #C94D37; }

div.block-views > h2 {
	background: url(../../images/header_bg/index.png);
	padding: 8px 12px 3px 20px;
	text-transform: uppercase;
	font-family: 'TitilliumBold';
	font-size: 23px;
	letter-spacing: 0px;
	font-weight: normal;
	margin-bottom: 20px;
}
#content div.block-views > div.content {
	padding-left: 20px;
}


/************** DRUPAL STYLES ****************/
fieldset { border: 1px solid #999; padding: 10px 15px; margin: 10px 0px; }
fieldset.collapsed { padding: 0px 15px; }


/****************** FOOTER *******************/
#footer {
	border-top: 1px solid #7e0f0f;
	background: url(../../images/footer_bg/index.png);
	min-height: 30px;
	color: white;
	padding-top: 10px;
	font-weight: bold;
}
#footer p {
	margin-bottom: 0px;
}
#footer a {
	color: white;
	text-decoration: none;
}
#footer a:hover { text-decoration: underline; }


/********** HOME PAGE SPECIAL BLOCK **********/
#homePageBlock {
	background: #f4f4f4;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 28px;
}
#homePageBlock div.fivecol > h2 {
	background: url(../../images/header_bg/index.png);
	padding: 8px 12px 3px 12px;
	text-transform: uppercase;
	font-family: 'TitilliumBold';
	font-size: 23px;
	letter-spacing: 0px;
	font-weight: normal;
	margin-bottom: 20px;
}
#homePageBlock div.content {
	font-size: 11px;
	padding-left: 12px;
}
#homePageButtonLinks div.button {
	background: url(../../images/home_header_button_bg/index.png) repeat-x;
	margin-top: 7px;
	padding: 4px 8px;
	height: 42px;
	border: 2px solid #d5d5d5;
	border-radius: 5px;
}
#homePageButtonLinks div.button .image {
	border: 1px solid #cfd0d0;
	display: inline-block;
	height: 40px;
	float: left;
	margin-right: 10px;
}
#homePageButtonLinks div.button .title {
	font-size: 25px;
	color: #fff;
	margin-top: 10px;
	display: block;
	text-transform: uppercase;
	font-family: 'TitilliumMedium';
	text-shadow: 1px 1px 4px #333;
}


div.views-row {
	margin-bottom: 25px;
	padding-bottom: 5px;
	border-bottom: 1px dashed #684F40;
}

div.views-row-last {
	border-bottom: none;
	margin-bottom: 0px;
}


/************** RESOURCES PAGE *****************/
#content div.view.view-resources img {
	border: none;
}

#content div.view-resources table.views-view-grid > tbody > tr > td {
	width: 48%;
	padding-right: 2%;
}

div.view-resources .views-field-title {
	padding-top: 22px;
}

div.view-resources .views-field-title a {
	font-size: 22px;
	font-family: 'TitilliumBold';
}
body.page-node div.node-resources > div { margin-left: 130px; }
#content div.node-resources img { border: none; }
div.resourceHeader h1 { margin-bottom: 10px; }

div.book-navigation div.page-links { display: none; }



/************* STAFF PAGE **************/
div.attachment:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
div.staffProfilePic:hover {
    cursor: pointer;
}
div.view-display-id-attachment_1 .views-row {
  display: inline;
}
#content div.staffProfilePic.active img {
  border-color: #C94D37;
}
div.view-staff div.attachment {
  border-bottom: 1px dashed #684F40;
  margin-bottom: 20px;
} 
div.view-staff div.views-row {
  border-bottom: none;
}
div.staffName, div.staffTitle, div.staffContact, div.staffBio {
  margin-bottom: 15px;
  margin-left: 225px;
}

div.staffName {
  font-family: 'TitilliumMedium';
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
}
div.staffTitle {
  font-family: 'TitilliumMedium';
  color: #C94D37;
  font-size: 1.5em;
}
div.staffContact {
  background-color: #C94D37;
  padding: 7px 8px 5px;
  color: white;
  font-family: 'Titillium';
}
div.staffContact a { 
  color: white; 
  padding-right: 15px;
}

div.staffBio {

}

/************************* BLOG *****************************/
#content div.view-blog div.views-row { margin-bottom: 30px; }
div.view-blog div.views-field-title h2 {
	background: url(../../images/blog_bullet/index.png) no-repeat left 7px;
	padding-left: 25px;
}
div.view-blog div.views-field.views-field-body { margin-left: 35px; }

img.media-image-left { margin-right: 15px !important; margin-bottom: 10px !important; }

div.view-blog div.views-field {
	margin-left: 10px;
}

div.view-blog div.views-field-created {
	font-style: italic;
	color: #666;
	margin-left: 0px;
	margin-bottom: 10px;
}

#disqus_thread {
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 15px;
}

/********************** FORUM *****************************/
div.forum-topic-legend {
	background: #eee;
	padding: 15px;
	clear: both;
}
div.forum-topic-legend div { 
	clear: none;	
	margin-right: 15px;
}
div.forum-tools { margin-top: 0px; }
#forum-sort { clear: none; }
div.forum-node-create-links { margin-bottom: 15px; }

#forum table td { padding: 5px 7px; }

div.forum-post { margin-bottom: 15px; }

#leftSidebar div.block {
	margin-bottom: 25px;
}

div.view-staff img, div.view-resources img, div.node-resources > img {
	float: left;
}

.stButton {
	padding-top: 7px;
	padding-bottom: 7px;
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media screen and (max-width: 1024px) {
	

}

@media handheld, only screen and (max-width: 767px) {
	#navigationBar #main-menu { display: none; }
	.mobileOnly { display: block; }
	#footer div.row > div { font-size: 80%; text-align: center !important; }
	#homePageBlock { padding: 0px; }
	div.staffName, div.staffTitle, div.staffContact, div.staffBio { margin-left: 0px; }
	body.page-node div.node-resources > div { margin-left: 0px; } 
	#logo { margin-top: 0px; }
}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 


}
